<!-- <h1 class="text-danger border border-3 mt-5 mx-5 py-3 px-3">App component</h1> -->
<!-- <h2 class="text-warning-emphisis">{{title}}</h2> -->
<!-- 
<p *ngFor = "let c of colors;let i = index;let f = first;let l = last;let ev=even;let od = odd">
    {{i}}-{{c}}-{{f}}-{{l}}-{{ev}}-{{od}}</p>

<p *ngIf ="age < 18 ; then minor else major"></p>

<ng-template #minor><b>Minor</b></ng-template>
<ng-template #major><b>Major</b></ng-template> ng template only works when we write ngif condition -->

<app-navbar></app-navbar>
<!-- <app-calculator></app-calculator> -->
<!-- <app-product-list></app-product-list> -->

<router-outlet></router-outlet>